<plugin id="cordova-plugin-stablecamera" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins">
  <name>StableCamera</name>
  <js-module src="www/stablecamera.js" name="StableCamera">
    <clobbers target="StableCamera"/>
  </js-module>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.CAMERA" />
    </config-file>

    <source-file src="src/android/StableCamera.java" target-dir="src/com/example/stablecamera" />
    <source-file src="src/android/CameraActivity.java" target-dir="src/com/example/stablecamera" />
  </platform>
</plugin>

