<platform name="android">
  <config-file target="AndroidManifest.xml" parent="/manifest">
    <uses-permission android:name="android.permission.CAMERA" />
  </config-file>

  <config-file target="AndroidManifest.xml" parent="/manifest/application">
    <activity
      android:name="CameraActivity"
      android:exported="true"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
      android:screenOrientation="portrait" />
  </config-file>

  <source-file src="src/android/StableCamera.java" target-dir="src" />
  <source-file src="src/android/CameraActivity.java" target-dir="src" />
</platform>
